<div class="container card">
  <div class="row d-flex justify-content-center ">
    <div class="col-sm-8">
      <br>
      {{> message}}
      {{#if link}}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        Here's the short url: <a href="{{{link.shortUrl}}}" target=" _blank" style="color:blue">{{{link.shortUrl}}}</a>
      </div>
      {{/if}}
      <br>
      <form action="/" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="url" id="url" aria-describedby="urlHelp"
            placeholder="Enter your url here" value="{{link.originalUrl}}" required>
        </div>
        <button type="submit" class="btn btn-primary">create short url</button>
      </form>
    </div>
  </div>
</div>
<br>
{{#if userData}}
<div class="container card">
  <div class="row d-flex justify-content-center">
    <table class="table table-borderless table-responsive-xl m-3">
      <thead>
        <tr>
          <th scope="col" style="width:30%">Short URL</th>
          <th scope="col" style="width:30%">Original</th>
          <th scope="col" style="width:10%">Views</th>
          <th scope="col" style="width:30%">Created At</th>
        </tr>
      </thead>
      <tbody>
        {{#each userData}}
        <tr>
          <td style="word-break:break-all; word-wrap:break-all;"><a href="{{this.shortUrl}}"
              target="_blank">{{this.shortUrl}}</a></td>
          <td style="word-break:break-all; word-wrap:break-all;">{{this.originalUrl}}</td>
          <td>{{this.view}}</td>
          <td>{{dataFormat this.createdAt}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{/if}}